header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background:linear-gradient(120deg,#966261 0%, #FCA4A3 100%);
}

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cfb9bf;
    color: rgb(255, 255, 255);
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

div{
    width: 100%;
}

.buttons{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons li{
    margin: 0 20px;
}

.icons{
    width: 5%;
    
}

nav a {
    font-family:'Optima';
    text-decoration: none;
    text-shadow: 1px 1px 2px pink;
    color:rgb(255, 255, 255);
    font-size: xx-large;
}


nav a:hover {
    color:#ff1180;
}



#icon_Contact{
    height: 30px;
    width: 30px;
}

.container{
    margin-top: 250px;
    display:flex;
}

.card{
    border-radius: 20px;
    margin-left: 10px;
    height: 400px;
    background-color:aqua;
    flex: 1;
    transition: .3s all ease;
    
}

.card:hover{
    flex: 1.5;
    background-color: aquamarine;
}

.card img{
    width: 100%;
    height:100%;
    border-radius: 20px;
}